*{
	box-sizing: border-box;
	font-family:"Inter", sans-serif;
	marging: 0;
	padding: 0;
	; //To ensure consistency in diffrent browsers
}

.column{
	float: left;
	width: 50%;
	
		
}
.row{
	padding-top:340px;
}
.row::after{
	content:"";
	display: table;
	clear: both;
	
}

body{
	background-color:rgb(204,255,204);
		
}

header{
	text-align:center;
	background-color:rgb(0,0,102);
	top: 0;
	left: 0;
	width:100%;
	padding:0px;
	position:fixed;
	height:350px;
	
	
}




header h1{
	font-size:80px;
	color:white;
}
header h2{
	font-size:30px;
	
}
header nav{
	font-size:20px;
	color:white;
	text-decoration: none;
}
header nav a {
text-decoration: none;
margin-right:120px;
color:white;
}
.media_links{
	padding-top:50px;
	font-size:30px;
	
	
	}
.About-us h1{
	font-size:50px;
	text-align:center;
}
p{
font-size:20px;	
	
}
.About-us h2{
	font-size:40px;
}
h3{
	font-size:25px;
}